:root {
  --clr-primary: #212cff;
  --clr-secondary: #fff5e0;
  --clr-tertiary: #212cff0d;
  --clr-hover: #000ac0;
  --bs-body-color: #212cff !important;
  --main-font: "Roboto", sans-serif !important;
  --nav-height: 78px;
  --hard-shadow: 8px 8px 0 0 var(--clr-primary);
  --icon-color: var(--clr-primary);
  --shadow-clr: rgba(47, 47, 47, 0.2);

  --clr-primary-300: color-mix(in srgb, var(--clr-primary) 40%, white);
  --clr-primary-400: color-mix(in srgb, var(--clr-primary) 55%, white);
  --clr-primary-500: color-mix(in srgb, var(--clr-primary) 70%, white);
  --clr-primary-600: color-mix(in srgb, var(--clr-primary) 85%, white);
  --clr-primary-700: var(--clr-primary);
  --clr-primary-800: color-mix(in srgb, var(--clr-primary) 85%, black);
  --clr-primary-900: color-mix(in srgb, var(--clr-primary) 60%, black);

  --clr-success: #1f8d4a;
}

html * {
  font-family: var(--main-font);
  color: var(--clr-primary);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#score-section {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  animation: fadeIn forwards 1s;
}

.rules {
  margin: 0;
  li {
    padding: 0.25rem 0;
  }
}

.game-area {
  background-color: white;
  border: 2px solid var(--clr-primary);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 8px 8px 0 0 var(--clr-primary);
  width: 250px;
  height: 500px;
  text-align: center;
  animation: fadeIn forwards 1s;
}

#flag {
  font-size: 3rem;
  height: 3rem;
}

.fade-in {
  animation: fadeIn forwards 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 500px;
  }
}

.btn {
  background-color: var(--clr-primary);
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  width: 100%;
  height: 2.25rem;
  border: 2px solid var(--clr-primary);
  box-shadow: 3px 4px var(--shadow-clr);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 200ms;
}

.btn:hover,
.btn:active {
  background-color: var(--clr-primary-800);
  border-color: var(--clr-hover);
}

.solution {
  pointer-events: none;
  background-color: var(--clr-success);
  border-color: var(--clr-success);
}

/* UTILITIES */

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.hidden {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-align-left {
  text-align: left;
}

#country-choices {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
